@import './utils/const.scss';


body {
  padding-top: 5px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: $main-gray;
  background: center / cover no-repeat url('./img/theme-mount.jpg');
}

button{
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

.container{
  margin: 0 auto;
  max-width: 1200px;
}

h1,h2,h3,h4{
  margin: 0;
  padding: 0;
}

ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
